#nav{
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    box-shadow: 1px 1px 20px rgba(241, 237, 237, 0.863);
    position: sticky;
    top: 0;
}


#navtxt{
    font-family:'Arial';
    font-size: 11;
    font-weight: bolder;
    color: rgb(63, 62, 62);
    text-shadow: 0px 1px 1px rgb(163, 154, 154);
    letter-spacing: 1px;
    padding-top: 34;
    text-align: center;
}

a{
    text-decoration: none;
}


#foot{
    width: 100%;
    height: 480px;
    background-color:  rgba(241, 237, 237, 0.863);
    box-shadow: 1px 1px 15px rgba(241, 237, 237, 0.945);
    margin-top: 40px;
    /* display: flex; */
}
#txt{
    padding-top: 21;
    padding-left: 50;
    padding-right: 15;
}
#txt2{
    
    padding-top: 20;
    padding-left: 148;
    border-radius:4px;
}
#txt3{
    text-align: center;
    padding-top: 25px;
    margin-left: 15px;
    width: 55px;
    font-family:'Arial';
    font-size: 11;
    font-weight: bolder;
    color: rgb(63, 62, 62);
    text-shadow: 0px 1px 1px rgb(163, 154, 154);

}
#login{
    font-style: 'Arial';
    font-weight: bold;
    font-size: 12px;
    border: 1px solid rgba(241, 237, 237, 0.863);
    text-align: center;
    padding-top: 9px;
    height: 30px;
    margin-top: 10px;
    width: 140px;
    color: rgb(224, 77, 126);
}
#signup{
    font-style: 'Arial';
    font-weight: bold;
    font-size: 15px;
    border: 1px solid rgba(241, 237, 237, 0.863);
    border-radius: 5px;
    text-align: center;
    padding-top: 0px;
    height: 50px;
    width: 175px;
    margin-top: 20px;
    margin-left: 90px;
    background-color: rgba(255,63,108,255);
    color: white;
}
button{
    text-decoration: none;
    border: none;
    background-color: white;
}
#picbox{
    position:relative;
    z-index: -1;
    margin-bottom: 0;
    height: 415px;
    width: 100%;

}
#main{
    padding-top: 43px;
    display: flex;
    position:absolute;
    animation: slide 21s infinite;
    opacity: 0;
}
#picbox2{
    position:relative;
    z-index: -1;
    margin-bottom: 0;
    height: 305px;
    width: 100%;

}
#main2{
    padding-top: 4px;
    display: flex;
    position:absolute;
    animation: slide2 16s infinite;
    opacity: 0;
}
#picbox3{
    position:relative;
    z-index: -1;
    margin-bottom: 0;
    height: 305px;
    width: 100%;

}
#main3{
    padding-top: 4px;
    display: flex;
    position:absolute;
    animation: slide3 10s infinite;
    opacity: 0;
}
#dot{
    height: 7px;
    width: 7px;
    border-radius: 100% 100%;
    background-color: rgb(207, 204, 204);
    margin-right: 13px;
    animation: dots 21s infinite;
}
#dot2{
    height: 7px;
    width: 7px;
    border-radius: 100% 100%;
    background-color: rgb(207, 204, 204);
    margin-right: 13px;
    animation: dots2 16s infinite;
}
#dot3{
    height: 7px;
    width: 7px;
    border-radius: 100% 100%;
    background-color: rgb(207, 204, 204);
    margin-right: 13px;
    animation: dots3 10s infinite;
}
#maintxt{
    font-size: 50px;
    padding-left: 50px;
    padding-top: 80px;
    white-space: pre-line;
    line-height: 40px;
}
#mainin{
    font-size: 23px;
    padding-left: 50px;
    padding-top: 30px;
    color: rgb(80, 77, 77);
}
#line{
    padding-left: 50px;
    padding-top: 30px;
}
#exp{
    font-size: 16px;
    padding-left: 50px;
    padding-top: 20px;
    color: rgb(206, 203, 203);

}

*{
    margin: 0;
    padding: 0;
}
li{
    float: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15;
    color: rgb(63, 62, 62);
}
#ddtxt{
    font-family:'Arial';
    font-size: 13;
    font-weight: bold;
}
#mid{
    width: 150px; background-color: rgb(238, 235, 235);height: 1px;
    margin-top: 17px;
    margin-bottom: 17px;
}
#search1{
    background-color: rgba(241, 237, 237, 0.781);
    height: 40px;
    background-size: 16px 16px;
    background-image:url(sea.png);
    background-repeat: no-repeat;
    background-position: 12px 9px;
    padding: 0px 0px 0px 48px;
    border-color: transparent;
    border-radius: 4px;
    font-family:'Arial';
}

#not{
    height: 45px;
    width: 45px;
    border-radius: 100% 100%;
    background-color: rgba(29,133,252,255);
    position: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
    bottom: 65;
    right: 25;
    box-shadow: 1px 1px 45px rgba(241, 237, 237, 0.863) ;

}
#noticir{
    height: 45px;
    width: 45px;
    opacity: 0;
    border-radius: 100% 100%;
    border: 2px solid rgba(29,133,252,255);
    position: absolute;
    animation: noti  2s infinite    ;
}

#offer{
    height: 45px;
    width: 290px;
    background-color: rgba(83,87,102,255);
    transform: rotate(270deg);
    transform-origin: right bottom;
    position:fixed;
    right: 0;
    bottom: 69%;
}
#off-com{
    display: none;
}
#offer-open{
    height: 45px;
    width: 290px;
    background-color: rgba(83,87,102,255);
    transform: rotate(270deg);
    transform-origin: right bottom;
    position:fixed;
    right: 575px;
    bottom: 69%;
}
#offer-open2{
    height: 290;
    width: 575px;
    background-color: rgba(254,234,239,255);
    position: fixed;
    bottom: 21.25%;
    right: 0;
}
#not-open{
    display: none;
    background-color: white;
    box-shadow: 1px 1px 15px rgba(241, 237, 237, 0.863);
    border: 1px solid rgba(241, 237, 237, 0.863);
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: transparent;
    height: 470px;
    width: 330px;
    position: fixed;
    bottom: 125px;
    right: 30px;   
}
#not-img{
    width: 330px;
    height: 420px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 50px;
}

#not-head{
    background-color: rgb(81, 81, 252);
    position: fixed;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 330px;
    height: 50px;
    text-align: center;margin-bottom: 2px;
}
#not-foot{
    background-color:  rgba(241, 237, 237, 0.863);
    text-align: center;
    height: 80px;
    width: 330px;
}
#not-foot-txt{
    color: gray;
    text-align: center;
    padding-top: 20px;
    font-family: 'Arial';
}
#not-txt{
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    font-family: 'Arial';
    color: white;
}
#newbtn{
    height: 15px;
    width:35px ;
    border-radius: 4px;
    position:fixed;
    right: 5px;
    bottom: 115px;
    font-size: 9px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    padding-top: 4px;

    animation: color-change 1s infinite;
}
#offtxt{
    position: fixed;
    font-size: 22;
    font-weight: bold;
    font-family: 'Arial';
    letter-spacing: 1px;
    padding-left: 30;
    padding-top: 10;
    color: rgb(241, 238, 238);
}
#offtxt2{
    font-family: 'Arial';
    font-weight: bold;
    padding-left: 40px;
    padding-top: 50px;
    color: rgba(62,65,82,255);
    text-shadow: 1px 1px 15px rgba(241, 237, 237, 0.863);
    /* float: left; */
}

#bod{
    padding-top: 60px;
    padding-left: 30px;
    font-size: 27px;
    font-family: 'arial';
    letter-spacing: 2px;
    padding-bottom: 70px;
    font-weight:700;
    color: rgb(71, 69, 69);
}